################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dashboard/.vs/Dashboard/v15/Server/sqlite3
*.suo
